.timer {
    font-size: 40px;
}
.btn {
    cursor: pointer;
    background-color: #333;
    color: whitesmoke;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 50%;
}

.start-btn:hover{
    background-color: rgb(73, 133, 62);
    color: #333;
}

.stop-btn:hover {
    background-color: rgb(190, 0, 0);
    color: #333;
}

.reset-btn:hover{
    background-color: rgb(9, 91, 168);
    color: #333;
}

.lap-btn:hover{
    background-color: rgb(199, 199, 199);
    color: #333;
}
.laps {
    font-size: 30px;
}